<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <% include ./partials/navbar.ejs %>
      <header class="jumbotron my-4 text-center" >
        <h1 class="display-3">Our Story</h1>
      </header>
     <div class="about-text">
        <p>We are a family business that began in 2001.</p>
        <p>With hard work and integrity, we have grown to become the Bay Area's top choice for party plannning.</p>
     </div>

  </body>
</html>