<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <% include ./partials/navbar.ejs %>
      <header class="jumbotron my-4 text-center" >
        <h1 class="display-3">Contact us</h1>
      </header>
     <ul class="contact-list text-center" style="list-style-type: none">
       <li class="contact-item" style="font-weight: bold; font-size: 24px;">Phone: (408) 888-8888</li>
       <li class="contact-item" style="font-weight: bold; font-size: 24px;">Email: elena@parties.com</li>
       <li class="contact-item" style="font-weight: bold; font-size: 24px;">Address: 2741 Matthias Ct. <br> San Jose, CA</li>
     </ul>

  </body>
</html>