<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <header class="jumbotron my-4 text-center" >
      <h1 class="display-3">Pictures go here</h1>
    </header>

      <div class="img-section">
        <img src="/gallery/ethan.jpg" alt="My son, Ethan." style= "height: 250px"; >
        <img src="/gallery/gianna.jpg" alt="My son, Ethan." style= "height: 250px"; >
        <img src="/gallery/both.jpg" alt="My son, Ethan." style= "height: 250px"; >
        <img src="/gallery/both2.jpg" alt="My son, Ethan." style= "height: 250px"; >
        <img src="/gallery/both3.jpg" alt="My son, Ethan." style= "height: 250px"; >
        <img src="/gallery/angela.png" alt="My son, Ethan." style= "height: 250px"; >
      </div> 


  </body>
</html>