<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
     <% include ./partials/navbar.ejs %>
     <% include ../static/partials/messages.ejs %>
     <header class="jumbotron my-4 text-center">
       <h1 class="display-3">Elena: The Party Planner</h1 class="display-3">
       <h2 class="slogan">We make your dream party come true.</h2>
       <% if(currentUser) { %>
        <%= currentUser.name %>
       <% } %>
      </header>

     <section class="row text-center">
       <section class="col-lg-4">
         <h4 class="card-title">Great Quality</h4>
         <p class="card-text">We provide quality products and materials.</p>
       </section>

       <section class="col-lg-4">
         <h4 class="card-title">Low Prices</h4>
         <p class="card-text">We offer the lowest prices around.</p>
       </section>

       <section class="col-lg-4">
         <h4 class="card-title">High Customer Rating</h4>
         <p class="card-text">We have a 4.8 rating from over 1000 customer reviews.</p>
       </section>

     </section>

  </body>
</html>